.text-blue {
	color: #102c57;
}

.custom-min-height {
	min-height: 300px;
}

.text-justify {
	text-align: justify;
}

.research-topic-box {
	background: #1f4529;
}

.nav-links {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 8px;
	padding: 8px;
	color: #2a3663;
	text-decoration: none;
}

.nav-links:hover {
	padding: 8px;
	border-radius: 20px;
	background-color: #2a3663;
	color: white;
	transition: background-color 0.3s ease;
}

.my-container {
	--bs-gutter-x: 1.5rem;
	--bs-gutter-y: 0;
	width: 100%;
	padding-right: calc(var(--bs-gutter-x));
	padding-left: calc(var(--bs-gutter-x));
	margin-right: auto;
	margin-left: auto;
}

.icon-container {
	display: flex;
	justify-content: center; /* Centers horizontally */
	align-items: center; /* Centers vertically */
}

.icon {
	fill: none; /* Optional: Ensures the SVG doesn't fill */
	stroke-width: 1.5; /* Adjust stroke width */
	stroke: currentColor; /* Inherit text color */
	width: 24px; /* Adjust icon size */
	height: 24px; /* Adjust icon size */
}

@media (max-width: 768px) {
	.icon-container {
		display: flex;
		justify-content: center; /* Centers horizontally */
		align-items: center; /* Centers vertically */
	}

	.icon {
		fill: none; /* Optional: Ensures the SVG doesn't fill */
		stroke-width: 1.5; /* Adjust stroke width */
		stroke: currentColor; /* Inherit text color */
		width: 24px; /* Adjust icon size */
		height: 24px; /* Adjust icon size */
	}
}
