<footer class="footer mt-auto py-3 bg-body-tertiary py-3">
	<ul class="nav justify-content-center border-bottom pb-3 mb-3">
		<li class="nav-item">
			<a href="/index.html" class="nav-link px-2 text-body-secondary">HOME</a>
		</li>
		<li class="nav-item">
			<a href="/public/teaching.html" class="nav-link px-2 text-body-secondary"
				>TEACHING</a
			>
		</li>
		<li class="nav-item">
			<a
				href="/public/publication.html"
				class="nav-link px-2 text-body-secondary"
				>PUBLICATION</a
			>
		</li>
		<li class="nav-item">
			<a href="/public/honors.html" class="nav-link px-2 text-body-secondary"
				>HONORS</a
			>
		</li>
		<li class="nav-item">
			<a href="/public/project.html" class="nav-link px-2 text-body-secondary"
				>PROJECT</a
			>
		</li>
		<li class="nav-item">
			<a
				href="/public/academic-activities.html"
				class="nav-link px-2 text-body-secondary"
				>ACADEMIC ACTIVITIES</a
			>
		</li>
		<li class="nav-item">
			<a href="/public/vita.html" class="nav-link px-2 text-body-secondary"
				>VITA</a
			>
		</li>
	</ul>
	<p class="text-center text-body-secondary">© 2024 Company, Inc</p>
</footer>
