<header
	class="navbar navbar-expand-md d-flex justify-content-between align-items-center bg-body-tertiary p-3 fs-4"
>
	<div>NCKU CSSLab</div>
	<button
		class="navbar-toggler"
		type="button"
		data-bs-toggle="collapse"
		data-bs-target="#navbarNav"
		aria-controls="navbarNav"
		aria-expanded="false"
		aria-label="Toggle navigation"
	>
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse justify-content-end" id="navbarNav">
		<ul class="navbar-nav nav-pills">
			<li class="nav-items m-2">
				<a href="./index.html" class="nav-links">Home</a>
			</li>
			<li class="nav-items m-2">
				<a href="./member.html" class="nav-links">Member</a>
			</li>
			<li class="nav-items m-2">
				<a href="./research.html" class="nav-links">Research</a>
			</li>
		</ul>
	</div>
</header>
