<header class="d-flex justify-content-center py-3 bg-body-tertiary">
	<ul class="nav nav-pills">
		<li class="nav-items">
			<a href="../../index.html" class="nav-links">HOME</a>
		</li>
		<li class="nav-items">
			<a href="../public/teaching.html" class="nav-links">TEACHING</a>
		</li>
		<li class="nav-items">
			<a href="/public/publication.html" class="nav-links" nav-links
				>PUBLICATION</a
			>
		</li>
		<li class="nav-items">
			<a href="/public/honors.html" class="nav-links" nav-links>HONORS</a>
		</li>
		<li class="nav-items">
			<a href="/public/project.html" class="nav-links" nav-links>PROJECT</a>
		</li>
		<li class="nav-items">
			<a href="/public/academic-activities.html" class="nav-links" nav-links
				>ACADEMIC ACTIVITIES</a
			>
		</li>
		<li class="nav-items">
			<a href="/public/vita.html" class="nav-links" nav-links>VITA</a>
		</li>
	</ul>
</header>
